@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}    

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all .3s ease 0s;
}

.nav-links li a:hover {
    color: #652ab3;

}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(104, 31, 187, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;

}

button:hover{
    background-color: rgba(104, 31, 187,.8);
}
