body {
    font-family: arial;
    background: #efefef;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 10vw;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url("woo.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); */
    text-shadow: 10px 10px 0px rgba(39,174,96 ,.8)

    

}